@model Setting

<footer id="footer">
        <div class="footerTop" style="box-sizing: border-box;">
            <div class="container">
                <div class="links row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
                    <div class="col ">
                        <div class="Cards card bg-body">
                            <div class="CustomerService" style="background-color: #fefaf3;">
                                <h6>CUSTOMER SERVICE</h6>
                            </div>
                            <div class="card-body " style="background-color: #fefaf3;">
                                <ul>
                                    <li><a href="">Help & Contact Us</a></li>
                                    <li><a href="">Returns & Refunds</a></li>
                                    <li><a href="">Online Stores</a></li>
                                    <li><a href="">Terms & Conditions</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col ">
                        <div class="Cards card bg-body">
                            <div class="Company" style="background-color: #fefaf3;">
                                <h6>COMPANY</h6>
                            </div>
                            <div class="card-body" style="background-color: #fefaf3;">
                                <ul>
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Blog</a></li>
                                    <li><a href="">Order Tracking</a></li>
                                    <li><a href="">Fag Page</a></li>
                                    <li><a href="">Contact Us</a></li>
                                    <li><a href="">Login</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col ">
                        <div class="Cards card bg-body">
                            <div class="SocialMedia" style="background-color: #fefaf3;">
                                <h6>SOCIAL MEDIA</h6>
                            </div>
                            <div class="card-body" style="background-color: #fefaf3;">
                                <ul>
                                    <li><a href="">Twitter</a></li>
                                    <li><a href="">Instagram</a></li>
                                    <li><a href="">Tumblr</a></li>
                                    <li><a href="">Pinterest</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col ">
                        <div class="Cards card bg-body">
                            <div class="Archive" style="background-color: #fefaf3;">
                                <h6>ARCHIVE</h6>
                            </div>
                            <div class="card-body" style="background-color: #fefaf3;">
                                <ul>
                                    <li><a href="">Designer Shoes</a></li>
                                    <li><a href="">Gallery</a></li>
                                    <li><a href="">Pricing</a></li>
                                    <li><a href="">Feature Index</a></li>
                                    <li><a href="">Login</a></li>
                                    <li><a href="">Help & Supports</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="footerBottom" style="box-sizing: border-box;">
            <div class="container">

                <div class="NoCopyright row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">

                    <div class="col ">
                        <div class="Cards card bg-body">
                            <div class="Copyright" style="background-color: #fefaf3;">
                                <span><b>©</b> 2018</span> <a href="#">Qode Interactive,</a><span> All Rights
                                    Reserved</span>
                            </div>

                        </div>
                    </div>
                    <div class="col ">
                        <div class="Cards card bg-body">
                            <div class="DebitCar" style="background-color: #fefaf3;">
                                <a href="#"><img src="~/Assets/images/footer-bottom-1.png" alt=""></a>
                            </div>

                        </div>
                    </div>
                    <div class="col ">
                        <div class="Cards card bg-body">
                            <div class="SocialLinks" style="background-color: #fefaf3;">
                                <a target="_blank" class="inst" href="@Model.InstagramUrl">INSTAGRAM</a>
                                <a target="_blank" class="face" href="@Model.FbUrl">FACEBOOK</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>